<!DOCTYPE html>
<html lang="en">
    <head>
     	<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
     	<title>Gerdau Locator</title>
     	
        <link href="/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/style.css">
        <link href="/css/dashboard.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>


    </head>
<body <% if (typeof pageClass !== "undefined") { %>class="<%=pageClass%>"<%}%>>





    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Gerdau Locator</a>
        </div>
        <div class="logout pull-right">
            Olá Julival! <a href="#">Sair</a>
        </div>
      </div>
    </nav>