<% include partials/header %>
    	

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        	<div class="side-logo">
        		<img src="img/logo_gerdau_white.png">
        	</div>
          <ul class="nav nav-sidebar">
            <li><a href="/">Visão Geral</a></li>
            <li class="active"><a href="/colaboradores">Colaboradores <span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        	<h1 class="page-header">Colaboradores</h1>
          
          <div id="date" style="padding: 8px 0 16px 0">
            <span class="date picker">20/12/2016</span> a <span class="date picker">20/01/2017</span>
          </div>
          
          <div class="table-responsive">
            <table id="colaboradoresTable" class="table table-striped tablesorter">
              <thead>
                <tr>
                  <th class="header" width="6%">ID</th>
                  <th class="header" width="43%">Nome</th>
                  <th class="header" width="18%">Planta</th>
                  <th class="header" width="18%">Acessos não-autorizados</th>
                  <th class="header" width="15%">Índice de risco</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Marcelo</td>
                  <td>Laminação</td>
                  <td>1</td>
                  <td data-color="1.23">1.23</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Raimundo</td>
                  <td>Laminação</td>
                  <td>0</td>
                  <td data-color="1.04">1.04</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Genildo</td>
                  <td>Laminação</td>
                  <td>3</td>
                  <td data-color="1.50">1.50</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Reginaldo</td>
                  <td>Laminação</td>
                  <td>6</td>
                  <td data-color="2.97">2.97</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Eduardo</td>
                  <td>Laminação</td>
                  <td>9</td>
                  <td data-color="5.14">5.14</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Bruno</td>
                  <td>Laminação</td>
                  <td>11</td>
                  <td data-color="5.25">5.25</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Cláudio</td>
                  <td>Laminação</td>
                  <td>1</td>
                  <td data-color="1.09">1.09</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Sebastião</td>
                  <td>Laminação</td>
                  <td>2</td>
                  <td data-color="1.45">1.45</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>Wallace</td>
                  <td>Laminação</td>
                  <td>3</td>
                  <td data-color="1.61">1.61</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Hugo</td>
                  <td>Laminação</td>
                  <td>12</td>
                  <td data-color="7.13">7.13</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>Julival</td>
                  <td>Laminação</td>
                  <td>0</td>
                  <td data-color="6.10">6.10</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>Rafael</td>
                  <td>Laminação</td>
                  <td>7</td>
                  <td data-color="4.90">4.90</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>



<% include partials/footer %>