<% include partials/header %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        	<div class="side-logo">
        		<img src="img/logo_gerdau_white.png">
        	</div>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/">Visão Geral <span class="sr-only">(current)</span></a></li>
            <li><a href="/colaboradores">Colaboradores</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        	<h1 class="page-header">Dashboard</h1>

			<div class="row">
				<div class="col-lg-12">
						<div class="datetime">
							<%-moment().format('LLL'); %>
						</div>

					    <div class="section-name"></div>
    
						<div id="wrapper1">
							
							<svg version="1.1"
								 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
								 x="0px" y="0px" width="1392px" height="950px" viewBox="0 0 1392 950" style="enable-background:new 0 0 1392 950;"
								 xml:space="preserve">
							<style type="text/css">
								.st0{opacity:0.3;}
								.st1{fill:#FFFFFF;}
								.st2{fill:#FFFFFF;}
								.st3{fill:#006837;}
							</style>
							<defs>
							</defs>
							<g class="st0">
								<rect x="0" class="st1" width="1392" height="425"/>
							</g>
							<g class="st0">
								<rect x="0" y="560" class="st2" width="1392" height="390"/>
							</g>
							<g class="st0">
								<rect x="0" y="425" class="st3" width="1392" height="135"/>
							</g>
							</svg>
					
							<div class="pontos">
								<div id="eduardo" class="dot blue fake">
									<div class="nomeColab">Eduardo</div><a href="#"></a>
								</div>
								
								<div id="marcelo" class="dot blue fake">
									<div class="nomeColab">Marcelo</div><a href="#"></a>
								</div>
								
								<div id="raimundo" class="dot blue fake">
									<div class="nomeColab">Raimundo</div><a href="#"></a>
								</div>
									
								<div id="reginaldo" class="dot blue fake">
									<div class="nomeColab">Reginaldo</div><a href="#"></a>
								</div>
								
								<div id="genildo" class="dot orange fake">
									<div class="nomeColab">Genildo</div><a href="#"></a>
								</div>
								
								<div id="wallace" class="dot blue fake">
									<div class="nomeColab">Wallace</div><a href="#"></a>
								</div>
								
								<div id="sebastiao" class="dot blue fake">
									<div class="nomeColab">Sebastião</div><a href="#"></a>
								</div>
								
								<div id="bruno" class="dot blue fake">
									<div class="nomeColab">Bruno</div><a href="#"></a>
								</div>
								
								<div id="claudio" class="dot blue fake">
									<div class="nomeColab">Cláudio</div><a href="#"></a>
								</div>

								<div id="colaborador" class="dot blue">
									<div class="nomeColab">Colaborador</div><a href="#"></a>
								</div>

								<div class="ap" id="ap1">
									<div class="nomeAp">AP1</div>
								</div>
								<div class="ap" id="ap2">
									<div class="nomeAp">AP2</div>
								</div>
								<div class="ap" id="ap3">
									<div class="nomeAp">AP3</div>
								</div>




							</div> <!-- Fecha DIV pontos -->
							
							



						</div>
					
					
				</div>
				
				
				
			</div>






          <div class="row placeholders" style="display: none">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>


        </div>
      </div>
    </div>

    <script>

        function mostraColabs() {
        	$(".pontos").css({"display": "initial"});
        }

        function apagaColabs() {
        	$(".pontos").css({"display": "none"});
        }

    </script>

	<script src="/socket.io/socket.io.js"></script>
    
    <script>
      var socket = io();


      socket.on('chat message', function(msg){


      	console.log(Math.round(msg[1]));
      	console.log(Math.round(msg[0]));
      	$("#colaborador").css({"top": Math.round(msg[1]), "left": Math.round(msg[0])});



      });
    </script>	


<% include partials/footer %>