 {% include "base.html" %}

<body>
{% block content %}

<div id="page-content">
    <div id="wrapper">

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Time
                            <!-- <small>Subheading</small> -->
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Sobre
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                 <div class="row">
<!--             <div class="col-lg-12">
                <h2 class="page-header">    Time</h2>
            </div> -->
            <div class="col-lg-6 col-md-6 ">
                <img class="img-circle img-responsive img-center" src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/12508861_942820089143320_95550586076894237_n.jpg?oh=53c82f2ab949bd915277a84994353ad8&oe=5730C92A&__gda__=1463514667_9869c5571c7e4976bcc918e005c5ace7" width="220" height="220">
                <h3>Rebeca Alencar <small> <i class="fa fa-institution"></i> UFPE</small>
                    <!-- <small>Graduanda em Engenharia da Computação</small> -->
                </h3>
                <p>Graduanda do 11º período de Engenharia da Computação</p>
            </div>
            <div class="col-lg-6 col-md-6 ">
                <img class="img-circle img-responsive img-center" src="https://scontent-gru2-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10433123_854666774567451_8125532645493941502_n.jpg?oh=c0e5a88001759e354ee6ed4f78a8b097&oe=5725ECD9"  width="220" height="220">
                <h3>Matheus de Oliveira <small> <i class="fa fa-institution"></i> ITA</small>
                </h3>
                <p>Graduando do 5º período de Engenharia Eletrônica</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <img class="img-circle img-responsive img-center" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10801772_804162216339704_6705109276668692735_n.jpg?oh=cffede79bda595c20fe7e7b763bd3ff3&oe=5725EEE4&__gda__=1464148845_21ecc6fa67dddb70601818553c9fc746" width="220" height="220">
                <h3>Lucas David <small> <i class="fa fa-institution"></i> ITA</small>
                </h3>
                 <p>Graduando do 5º período de Engenharia Eletrônica</p>
            </div>
            <div class="col-lg-6 col-md-6  ">
                <img class="img-circle img-responsive img-center" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/12642842_984090111681000_4246411444278525874_n.jpg?oh=a0495da1a95d6e2ba36c454132e3e0e8&oe=57390CEC&__gda__=1462091226_d0197cda1d0fe352659e2fa800ea0456" width="220" height="220">
                <h3>Heitor Fonseca <small> <i class="fa fa-institution"></i> UFPE</small>
                </h3>
                <p>Graduando do 10º período de Engenharia da Computação</p>
            </div>
           </div>
        </div>
        </div>
            

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    </div>
    {% endblock %}
</body>

</html>