<div id="morris-donut-chart"></div>
<script>
      new Morris.Donut({
      // ID of the element in which to draw the chart.
      element: 'morris-donut-chart',
      parseTime:false,
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: [
        // { label: '0h',  value: {{ plot.h1}} },
        // { label: '1h',  value: {{plot.h2}} },
        // { label: '2h',  value: {{plot.h3}} },
        // { label: '3',  value: {{plot.h4}} },
        // { label: '4', value: {{plot.h5}} },
        // { label:'5h',   value:{{plot.h6}}  },
        // { label:'6h',   value:{{plot.h7}}  },
        // { label:'7h',   value:{{plot.h8}}  },
        { label:'8h',   value:{{plot.h9}} },
        { label:'9h',   value:{{plot.h10}} },
        { label:'10h',   value:{{plot.h11}} },
        { label:'11h',   value:{{plot.h12}} },
        { label:'12h',   value:{{plot.h13}} },
        { label:'13h',   value:{{plot.h14}} },
        { label:'14h',   value:{{plot.h15}} },
        { label:'15h',   value:{{plot.h16}} },
        { label:'16h',   value:{{plot.h17}} },
        { label:'17h',   value:{{plot.h18}} },
        { label:'18h',   value:{{plot.h19}} },
        { label:'19h',   value:{{plot.h20}} },
        { label:'21h',   value:{{plot.h21}} },
        { label:'22h',   value:{{plot.h22}} },
        // { label:'23h',   value:{{plot.h23}} },
        // { label:'24h',   value:{{plot.h24}} }
      ],

    });              
</script>